
:root {
  --primary: #0a74da;
  --secondary: #736200;
  --light: #fcfff5;
  --text: #1a1a1a;
  --muted: rgb(69, 69, 196);
  --card: #ffffff;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-color: aqua;
  font-size: large;
  
  line-height: 1.6;
}


.navbar {
  background:blanchedalmond
  padding: 14px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.08);
  text-align:right
  font-size: 17px;
}

.navbar a {
  text-decoration: none;
  margin: 0 10px;
  padding: 8px 14px;
  border-radius: 8px;
  transition: 0.3s ease;
  color: var(--secondary);
  font-weight: 600;
}

.navbar a:hover {
  background: var(--primary);
  color:rgb(255, 255, 255);
}


.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 18px;
  color: #736200;
  font-size: larger;
}


.logo {
  font-size: 40px;
  font-weight: 900;
  color: var(--secondary);
  letter-spacing: 2px;
  background:rgb(255, 217, 0);
  display: inline-block;
  padding: 14px 18px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}

header h1 {
  margin-top: 12px;
  font-size: 38px;
  color: var(--secondary);
  letter-spacing: 1px;
}


.lead {
  font-size: 18px;
  margin-top: 10px;
  color: var(--muted);
}


.hero {
  margin-top: 20px;
  background:red
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.06);
}

.hero h2, 
.hero h3 {
  color: var(--secondary);
}


.features {
  margin-top: 20px;
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.feature {
  background-color: cornflowerblue;
  padding: 14px;
  border-radius: 10px;
  border-left: 4px solid var(--primary);
  transition: 0.3s ease;
}

.feature:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}


.values ul {
  padding-left: 20px;
}

.values li {
  margin-bottom: 8px;
}


.pill {
  background: var(--primary);
  display: inline-block;
  color:powderblue
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 20px;
  margin-top: 20px;
}


.team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  margin-top: 12px;
  color:red
  bg
}

.person {
  background: greenyellow;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.person:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

.person strong {
  font-size: 18px;
  color: var(--secondary);
}

#contact {
  margin-top: 26px;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}


.cta {
  display: inline-block;
  background: var(--primary);
  color:green
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease;
}

.cta:hover {
  background: var(--secondary);
}


footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  color:#0a74da
}
.lead{
  color: black
}
