
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
      background-color: rgb(46, 50, 83);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.contact-section {
    background: url("https://emmanueltumu.github.io/UMU_WebDev_GroupM_2025/images/contact/paris.jpg") center/cover no-repeat;
    padding: 80px 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.contact-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.65);
}
.contact-section > * {
    position: relative;
    z-index: 1;
}

.left-side {
    width: 40%;
    color: white;
}

.left-side h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.left-side p {
    opacity: 0.9;
    line-height: 1.6;
    max-width: 350px;
}

.right-side {
    width: 50%;
    background: white;
    padding: 40px;
    border-radius: 10px;
}

.input-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-btn {
    margin-top: 10px;
    padding: 12px 20px;
    background: #003566;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    background-color: rgb(46, 50, 83);s
    color: white;
    padding: 40px 20px;
    margin-top: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}
.papa{
    font-size: 30px;
    color:yellow;
}

