.color{
    background-color: rgb(46, 50, 83);
}


.animation:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px black;
}


.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}
